<ion-view view-title="Search Properties" ng-controller="SearchCtrl">
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <button class="button button-clear" ng-click="geoLocalizeSearch()">
          <i class="icon ion-android-locate PropertyCrossColorForeground"></i>
        </button>
        <input type="search" placeholder="City / Postal Code / Address" ng-model="search.location">
      </label>
    </div>
    <span class="padding">
      Use 
      <i class="icon ion-android-locate PropertyCrossColorForeground"></i>
      to geolocalize your search
    </span>

    <div class="row">
      <div class="col">
        <li class="item item-toggle item-noborder">
          Rent
          <label class="toggle toggle-balanced toggle-left" ng-model="search.rent">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
             </div>
          </label>
        </li>
      </div>
      <div class="col">
        <li class="item item-toggle item-noborder">
          Sale
          <label class="toggle toggle-balanced toggle-left" ng-model="search.sale">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
             </div>
          </label>
        </li>
      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-balanced" ng-click="searchProperties()">Search</button>
    </div>

    <!-- todos -->
    <div class="list">
      <h3 class="padding PropertyCrossColorForeground"> Recent Searches </h3>
      <a class="item " ng-repeat="recentSearch in recentSearches" ng-click="shareProperty(property)">
        <h2>{{recentSearch.address}}</h2>
        <p>{{recentSearch.results}} results found</p>
      </a>
    </div>

  </ion-content>
</ion-view>