<ion-view view-title="Properties Result" ng-controller="ResultsCtrl">
  <ion-content>

    <div class="list">
      <h3 class="padding PropertyCrossColorForeground"> Search Results </h3>
      <a class="item " ng-repeat="result in datos" ng-click="viewDetails(result)">
        <div class="result-content">
          <img ng-src="img/{{getFlatImage()}}">
          <div>
            <h2>{{result.titulo}}</h2>
            <p ng-if="isSale(result)">For sale</p>
            <p ng-if="!isSale(result)">For rent</p>
            <p>{{result.metros}} m2</p>
            <p>{{result.precio}} €</p>
          </div>
        </div>
      </a>
    </div>

  </ion-content>
</ion-view>